name: Deploy

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14.x"
      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: npm test
      - name: Build and deploy
        env:
          DIGITALOCEAN_TOKEN: ${{ secrets.DIGITALOCEAN_TOKEN }}
        run: |
          npm run build
          scp -o StrictHostKeyChecking=no -r build/ root@143.198.137.162:/var/www/html
      - name: Start app with pm2
        run: pm2 start src/index.js --name chatgpt-sms
