name: Node Deploy to Digital Ocean

on:
  push:
    branches:
      - master

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"
      - run: npm install
      - run: npm test

  deploy:
    needs: [test]
    runs-on: ubuntu-latest

   steps:
      - name: Checkout the repo
        uses: actions/checkout@v2
        with: 
          # This will create a directory named `my-repo` and copy the repo contents to it
          # so that you can easily upload it to your remote server
          path: my-repo
    # Runs a set of commands using the runners shell
     - name: Upload repo to remote server
       env:
           SSH_AUTH_SOCK: /tmp/ssh_agent.sock
       run: |
         ssh-agent -a $SSH_AUTH_SOCK > /dev/null
         ssh-add - <<< "${{ secrets.SSH_KEY }}"
         scp -o StrictHostKeyChecking=no -r -P 59666 my-repo emerson@143.198.137.162:/home/emerson

    # steps:
    #   - name: SSH and deploy node app
    #     uses: appleboy/ssh-action@master
    #     with:
    #       host: ${{ secrets.SSH_HOST }}
    #       username: ${{ secrets.SSH_USERNAME }}
    #       key: ${{ secrets.SSH_KEY }}
    #       port: ${{ secrets.SSH_PORT }}
    #       script: |
    #         cd ~/chatgpt-sms
    #         git pull origin master
    #         npm install --production
    #         pm2 restart chatgpt-sms
